<main>
    <!--start the project-->
    <div id="main-wrapper" class="flex">
        <!-- Main Content -->
        <main class="h-screen w-full">
            <div class="h-screen w-full">
                <div class="xl:flex justify-center  w-full">
                    <div class="xl:w-4/6 w-full shadow-2xl">
                        <div class="card-body p-5 xl:h-screen">
                            <div class="brand-logo flex items-center">
                                <a class="text-nowrap logo-img">
                                    <img src="assets/images/logos/proxgas.svg"
                                        class="dark:hidden block rtl:hidden w-1/4" alt="Logo-Dark">
                                    <img src="assets/images/logos/proxgas-light.svg"
                                        class="dark:block hidden rtl:hidden w-1/4" alt="Logo-light">
                                </a>
                            </div>
                            <div class="h-n80 xl:flex hidden justify-center items-center -mt-16">
                                <img src="https://bootstrapdemos.wrappixel.com/adminpro/dist/assets/images/backgrounds/login-security.svg"
                                    alt="" class="img-fluid" width="500">
                            </div>
                        </div>
                    </div>
                    <div class="xl:w-2/6 w-full">
                        <div class="card-body flex justify-center items-center bg-base-100 h-screen">
                            <div class="max-w-[400px] sm:px-6 w-full">
                                <h2 class="font-bold text-2xl">Bienvenido a ProxGas</h2>
                                <p class="mb-7">Inicia sesión en tu cuenta</p>
                                <div
                                    class="flex items-center text-base before:flex-[1_1_0%] before:border-t before:border-border before:me-6 after:flex-[1_1_0%] after:border-t after:border-border after:ms-6 dark:text-white dark:before:border-darkborder dark:after:border-darkborder">
                                    <img src="assets/images/logos/proxgas.svg"
                                        class="dark:hidden block rtl:hidden w-1/2" alt="Logo-Dark" />
                                    <img src="assets/images/logos/proxgas-light.svg"
                                        class="dark:block hidden rtl:hidden w-1/2" alt="Logo-light" />
                                </div>

                                <form>
                                    <div class="flex flex-col gap-4 mt-7">
                                        <div>
                                            <label
                                                class="text-dark dark:text-darklink font-semibold mb-2 block ">Username</label>
                                            <input type="text" class="form-control py-2" />
                                        </div>
                                        <div>
                                            <label
                                                class="text-dark dark:text-darklink font-semibold mb-2 block ">Password</label>
                                            <input type="password" class="form-control py-2" />
                                        </div>
                                        <div>
                                            <div class="flex justify-between my-2">
                                                <div>
                                                    <label class="cursor-pointer label flex items-center ">
                                                        <input type="checkbox"
                                                            class="border-bordergray w-4 h-4 rounded-sm text-primary dark:border-darkborder bg-transparent dark:checked:bg-primary dark:checked:border-primary focus:ring-0 focus:ring-offset-0"
                                                            checked id="checkbox1">
                                                        <span class="label-text ms-2">Remeber this Device</span>
                                                    </label>
                                                </div>
                                                <a href="../main/authentication-forgot-password.html"
                                                    class="text-primary font-semibold">Forgot Password ?</a>
                                            </div>
                                        </div>
                                        <a href="../main/index.html" class="btn btn-md py-3">Sign In</a>
                                        <div class="text-center mt-2.5">
                                            <span class="text-base  font-medium ">New to Modernize? <a
                                                    href="../main/authentication-register.html"
                                                    class="text-primary font-medium text-sm ms-2">Create an
                                                    account</a></span>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Main Content End -->
    </div>
    <!--end of project-->
</main>