<!-- <app-toast /> -->
<!-- End Toast -->
<main>
    <!--start the project-->
    <div id="main-wrapper" class="flex">

        <app-sidebar />
        <div class="page-wrapper w-full" role="main">
            <!--  Header Start -->
            <app-navbar />
            <!--  Header End -->

            <!-- Horizontal Header Menu -->
            <app-navbar-horizontal />
            <!-- Horizontal Header Menu End -->

            <!-- Main Content -->
            <app-container>
                <app-example />
            </app-container>
            <!-- Main Content End -->
        </div>
    </div>
    <!--end of project-->

</main>
<!-- Menu Canvas-->
<app-menu-canvas />



<app-search />


<!------- Customizer Options--------->

<app-shopping-cart />
<!------- Customizer button--------->
<app-customer-settings />
