<!-- <app-toast /> -->
<!-- End Toast -->
<main>
    <!--start the project-->
    <div id="main-wrapper" class="flex">

        <app-sidebar />
        <div class="page-wrapper w-full" role="main">
            <!--  Header Start -->
            <app-navbar />
            <!--  Header End -->

            <!-- Main Content -->
            <app-container>
                <app-breadcrumb></app-breadcrumb>
                <router-outlet />
            </app-container>
            <!-- Main Content End -->
        </div>
    </div>
    <!--end of project-->

</main>
<!-- Menu Canvas-->

<!------- Customizer button--------->
<app-customer-settings />
